@font-face {
    font-family: "Digit";
    src: url(./Digit.TTF) format("truetype");
}

body {
    font: 20px "Century Gothic", "Futura", sans-serif;
    text-align: center;
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin: 20px;
    min-width: 600px;
}

.game-area {
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.game-info {
    margin-bottom: 40px;
}

.bombs-time {
    align-items: left;
    border: 1px solid black;
    min-width: calc(25% - 2px);
    font-family: "Digit";
}

.level {
    align-items: center;
    border: 1px solid black;
    min-width: calc(50% - 2px);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-board { margin: auto; }

.square {
    background: #979797;
    border: 1px solid #999999;
    font-size: 24px;
    font-weight: bold;
    float: left;
    line-height: 1;
    height: 40px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 40px;
    box-shadow: inset -6px -6px 6px rgba(32, 33, 36, .28);
}

.square:focus { outline: none; }

.clicked {
    background: #cecece;
    box-shadow: inset 6px 6px 6px 0px rgba(32, 33, 36, .28);
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;
}

.exploded { color: red; }

.saved { color: blue; }

.one { color: rgb(158, 100, 61); }

.two { color: rgb(233, 193, 64); }

.three { color: rgb(184, 27, 27); }

.four { color: rgb(22, 22, 112); }

.five { color: rgb(42, 187, 62); }

.six { color: rgb(211, 174, 55); }

.seven { color: rgb(173, 37, 133); }

.eight { color: rgb(238, 218, 39); }

.restart { margin-top: 40px; }

.restart-button {
    font-size: 34px;
    font-weight: bold;
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    background-color: darkcyan;
}

.restart-button:focus { outline: none; }

.restart-button:hover {
    background-color: darkolivegreen;
    box-shadow: 0 1px 12px rgba(32, 33, 36, 1);
}

.restart-button:active { background-color: red; }