body { font: 20px "Century Gothic", "Futura", sans-serif; }

.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 20px;
    min-width: 600px;
}

.game-info {
    text-align: center;
    margin: 20px;
    min-width: 600px;
}

.game-area {
    background-color: rgb(231, 231, 231);
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 30%;
    min-width: 600px;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-board { margin: auto; }

.square {
    background: #979797;
    border: 1px solid #999999;
    font-size: 24px;
    font-weight: bold;
    float: left;
    line-height: 34px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    padding-top: 4px;
    padding-left: 4px;
    text-align: center;
    width: 40px;
    box-shadow: inset -6px -6px 6px rgba(32, 33, 36, .28);
}

.square:focus { outline: none; }

.clicked {
    background: #cecece;
    box-shadow: inset 6px 6px 6px 0px rgba(32, 33, 36, .28);
}

.saved-exploded { color: red; }

.maybe { color: blue; }

.one { color: rgb(158, 100, 61); }

.two { color: rgb(233, 193, 64); }

.three { color: rgb(184, 27, 27); }

.four { color: rgb(22, 22, 112); }

.five { color: rgb(42, 187, 62); }

.six { color: rgb(211, 174, 55); }

.seven { color: rgb(173, 37, 133); }

.eight { color: rgb(238, 218, 39); }

.restart {
    margin-top: 40px;
    text-align: center;
}

.restart-button {
    align-self: center;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    background-color: darkcyan;
}

.restart-button:focus { outline: none; }

.restart-button:hover {
    background-color: darkolivegreen;
    box-shadow: 0 1px 12px rgba(32, 33, 36, 1);
}

.restart-button:active { background-color: red; }