@font-face {
    font-family: "Digit";
    src: url(./DS-Digital_Bold.ttf) format("truetype");
}

body {
    font: 20px "Century Gothic", "Futura", sans-serif;
    text-align: center;
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin: 20px;
    min-width: 600px;
}

.game-area {
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.game-info {
    border: 5px solid rgb(142, 142, 142);
    background-color: rgb(160, 160, 160);
    box-shadow: inset 0 0px 6px 4px rgba(32, 33, 36, .28);
}

.bombs-time {
    background-color: rgba(41, 179, 36, 0.58);
    min-width: 25%;
    height: 50px;
    line-height: 50px;
    box-shadow: inset 0 0 6px 6px rgba(32, 33, 36, .28)
}

.bombs-time p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
    vertical-align: middle;
    font: 40px "Digit";
}

.game-over {
    min-width: 50%;
    height: 50px;
    line-height: 50px;
}

.game-over p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
    vertical-align: middle;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-board { margin: auto; }

.square {
    background: #979797;
    border: 1px solid #999999;
    font-size: 24px;
    font-weight: bold;
    float: left;
    line-height: 1;
    height: 40px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 40px;
    box-shadow: inset -6px -6px 6px rgba(32, 33, 36, .28);
}

.square:focus { outline: none; }

.clicked {
    background: #cecece;
    box-shadow: inset 6px 6px 6px 0px rgba(32, 33, 36, .28);
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;
}

.exploded { color: red; }

.saved { color: blue; }

.saved-true { color: green}

.one { color: rgb(220, 117, 47); }

.two { color: rgb(202, 171, 20); }

.three { color: rgb(184, 27, 27); }

.four { color: rgb(22, 22, 112); }

.five { color: rgb(42, 187, 62); }

.six { color: rgb(171, 89, 32); }

.seven { color: rgb(173, 37, 133); }

.eight { color: rgb(50, 171, 218); }

.level {
    margin-top: 20px;
    display: table;
    min-width: 100%;
}

.input{
    display: table-cell;
    text-align: center;
}

.input:first-child  {
    text-align: left;
}

.input:last-child {
    text-align: right;
}

.restart { margin-top: 40px; }

.restart-button {
    font-size: 34px;
    font-weight: bold;
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    background-color: darkcyan;
}

.restart-button:focus { outline: none; }

.restart-button:hover {
    background-color: darkolivegreen;
    box-shadow: 0 1px 12px rgba(32, 33, 36, 1);
}

.restart-button:active { background-color: red; }